{#
/**
 * @file run.html.twig
 * Default theme implementation to present Run data.
 *
 * This template is used when viewing Run pages.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('flag_line/scoreboard') }}
      {% set sum =  numJourneysComplete + numPassengersOnPlatforms + numPassengersOnTrains %}
<table>
  <th>Count</th>
  <th>Value</th>
  <tr>
    <td>Number of tickets issued.</td>
    <td>{{numTicketsIssued}}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>Number of journeys completed.</td>
    <td>{{numJourneysComplete}}</td>
  </tr>
    <tr>
    <td>Number of passengers on waiting on Platforms.</td>
    <td>{{numPassengersOnPlatforms}}</td>
  </tr>
    <tr>
    <td>Number of passengers on trains.</td>
    <td>{{numPassengersOnTrains}}</td>
  </tr>
  <tr>
    <td>
      <span class="float-right">Sum</span>
    </td>
    <td>
      {% if numTicketsIssued == sum %}
        <strong class="test-pass">{{sum}}</strong>
      {% else %}
        <strong class="test-fail">{{sum}}</strong>
      {% endif %}
    </td>
  </tr>
</table>
